<% layout('layouts/boilerplate') -%>

<!-- <h1 class="text-center mt-3">Login</h1>
<form action="/login" method="POST" class="m-auto validate-form mt-3" style="width: 30rem;" novalidate>
    <form action="/register" method="POST" style="width: 30rem;" class="m-auto validate-form mt-3" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <" id="username" name="username" required>
            <div class="validinput type="text" class="form-control" placeholder="Username-feedback">
              looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
            <div class="valid-feedback">
              looks good!
            </div>
        </div>
        <button class="btn btn-success">Login</button>
</form> -->

<div class="vh-100 d-flex justify-content-center align-items-center">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center">Login</h5>
    <form action="/login" method="POST" class="m-auto validate-form mt-3" novalidate>
      <form action="/register" method="POST" class="m-auto validate-form mt-3" novalidate>
          <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" placeholder="Username" id="username" name="username" required>
              <div class="valid-feedback">
                looks good!
              </div>
          </div>
          <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
              <div class="valid-feedback">
                looks good!
              </div>
          </div>
          <button class="btn btn-info">Login</button>
  </form>
   
  </div>
</div>
</div>